/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input[type='text'],
input[type='number'],
input[type='email']{
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

.list{
  margin:0;
  padding:0;
  margin-top:30px;
  border-top:1px solid #ddd;
}
.item{
  position:relative;
  padding:10px 10px 10px 40px;
  list-style:none;
  margin:0;
  border-bottom:1px solid #ddd;
  background:#fff;  
}
.showDetails{
  display:block;
}
.item.selected{
  background:#ffc;
}
.list input{
  
  position:absolute;
  left:10px;
  top:10px;
  
}
.list li strong,
.list li span{
  display:block;
}

.actionBtn{
  float:right;
  margin:0 0 0 5px;
  color:#36c;
  cursor:pointer;
}
.msgBlock{
  padding:10px;
  margin:0 0 10px 0;
}
.msgBlock.add{
  background:#00cc00;
}
.msgBlock.error{
  background:#fee;
  color:#c00;
  border:1px solid #c00 !important;
}
.msgBlock.success{
  background:#efe;
  color:#0c0;
  border:1px solid #0c0 !important;
}
.msgBlock.delete{
  background:#cc0000;
}
.msgBlock.update{
  background:#cc0000;
}
.ugly{
  border:1px solid #c00 !important;
}